* {
    font-family: georgia;
    font-size: 16px;
}

body {
    margin: 0;
    background-color: #f2f3e4;
    text-align: center;
}



/* Overskrift */
h1 {
    font-family: 'Satisfy', cursive;
    font-size: 36px;
}

section {
    margin-top: 130px;
}



/* Innhold på kontakt_oss.hmtl */
#kontakt_oss {
    width: 400 px;
}

#kontakt_oss p, #toastmaster p, #meny div {
    margin-left: 35%;
    padding-left: 30px;
    text-align: left;
    border-left: solid #000000;
}

/* Farger for linker */
a:visited, a:link {
    color: black;
}

a:hover {
    color: #b07500;
}
.active {
    color: #b07500;
}



/* Navigasjonsbar. Hentet inspirasjon fra http://csswizardry.com/demos/centred-nav/dropdown.html */
#nav{
    position: fixed;
    width: 100%;
    top: 0;
    margin:0;
    padding:0;
    text-align:center;
    list-style:none;
    background-color: rgba(255,255,255,0.7);
}

#nav li{
    position:relative;
    display:inline;
}

#nav a{
    padding: 20px 16px;
    display: inline-block;
    text-decoration: none;
}

#nav ul{
    position:absolute;
    left:-9999px;
    margin:0;
    padding:0;
    text-align:left;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 2px 2px 16px 2px rgba(0,0,0,0.2);
}

#nav ul li{
    display:block;
}

#nav li:hover ul{
    left:0;
}

#nav li:hover ul a{
    text-decoration:none;
    padding: 12px 16px;
}

#nav li:hover ul a:hover{
    background-color: #dabc80;
    color: white;
}

#nav ul a{
    white-space:nowrap;
    display:block;
}


/* RSVP-skjema */

form {
    width: 430px;
    margin: auto;
    padding: 30px;
    background-color: #e3cc9f;
    text-align: left;

    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

label {
    float: left;
    width: 140px;
}

input[name="name"], input[name="phone"], input[name="email"], input[name="guests"] {
    width: 280px;
    border-width: 1px;
    border-color: black;
}

textarea {
    width: 420px;
    border-width: 1px;
    border-color: black;
}



/* Fotnote */
footer{
    color: #444444;
    margin: 3px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/*Minh Ha's CSS*/
.beliggenhet{
  margin: auto;
  width: 1000px;
}
#boks{
  border-collapse: collapse;
}

table{
  border-collapse: collapse;
}

td, tr{
  width: 250px;
  border: 3px solid;
  padding: 15px;
  margin-bottom: 15px;
}
/*Minh Ha's CSS end*/
