/* Filnavn: P1_requirements.css
   Oppdatert: 14/09/16
*/

body {
  width: 850px;
  margin: 0 auto;
  background-color: #f2f3e4;
  font-family: "Geneva";
  color: #6F5A52;
  }

 figure {
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom:20px;
 }

 section {
 border: 2px dashed;
 border-color: #FFA584;
 padding-left: 50px;
 padding-right: 50px;
 margin-bottom:20px;
 }

 header {
 height: 100px;
 margin-bottom: 100px;
 margin-top: 40px;

 }

h2 span {
 font-size: small;
}

h2{
  font-size: 30px;
}
 ul {
   padding-left: 18px;
 }

section>ol>li {
    margin-bottom: 20px;
}

.title{
    display: block;
    margin-bottom: 10px;
}

 footer {
 margin-top: 100px;
 font-size: 13px;
 }

img {
  margin-bottom: 20px;
}

/*8.Plan*/
h3 {
  font-size: 23px;
}
h4 {
  margin: 0;
  font-size: 20px;
}
table, th, td {
  border: 3px solid #dd9276;
  border-collapse: collapse;
  padding: 15px;
  margin-bottom: 15px;
}
td{
  text-align: left;
    padding: 10px;
}

.html{
  background-color: rgba(195, 194, 42, 0.34)
}
.bilder{
  background-color: rgba(59, 136, 30, 0.36)
}
.javascript{
  background-color: rgba(189, 43, 52, 0.29)
}
.css{
  background-color: rgba(48, 166, 191, 0.4)
}
