/*
FILE NAME: style.css
WRITTEN BY: M. Do, K. Duong, C. Tørklep og A. Vuong
WHEN: Oktober 2016
UPDATED BY: Minh Ha Do
WHEN: 12.11.16
PURPOSE: Styling*/
html, body {
	margin:0;
	padding:0;
	height:100%;
  min-width: 800px;
  background-color: #f2f3e4;
  font-family: georgia;
  font-size: 16px;
  text-align: center;
}

#wrapper {
	min-height:100%;
	position:relative;
}

#header {
    padding: 1px;
    min-width: 800px;
}

/* Overskrift */
h1 {
    font-family: 'Satisfy', cursive;
    font-size: 36px;
}

/* Farger for linker */
a{
    text-decoration: none;
}
a:visited, a:link {
    color: black;
}
a:hover {
    color: #b07500;
    text-decoration: none;
}
.active {
    color: #b07500;
}

/* Navigasjonsbar. Hentet inspirasjon fra http://csswizardry.com/demos/centred-nav/dropdown.html */
#nav{
    position: fixed;
    width: 100%;
    min-width: 700px;
    top: 0;
    margin:0;
    padding:0;
    text-align:center;
    list-style:none;
    background-color: rgba(255,255,255,0.7);
		z-index: 10;
}
#nav li{
    position:relative;
    display:inline;
}
#nav a{
    display:inline-block;
    padding:10px;
}
#nav ul{
    position:absolute;
    left:-9999px;
    margin:0;
    padding:0;
    text-align:left;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 2px 2px 16px 2px rgba(0,0,0,0.2);
}
#nav ul li{
    display:block;
}
#nav li:hover ul{
    left:0;
}
#nav li:hover ul a:hover{
    background-color: #dabc80;
    color: white;
}
#nav ul a{
    white-space:nowrap;
    display:block;
}


section {
  margin-top: 130px;
	padding-bottom:30px; /* Height of the footer element */
  /* Nb: Make sure the value for 'padding-bottom' is equal to or greater than the height of #footer.*/
}
/* Innhold på var_historie, vielse, bryllupsfest, onskeliste */
#var_historie div, .beliggenhet, #onskeliste ul{
    max-width: 60%;
}

/* Innhold på kontakt_oss.html, toastmaster, meny */
#kontakt_oss p, #toastmaster p, #meny div {
    margin-left: 35%;
    padding-left: 30px;
    text-align: left;
    border-left: solid #000000;
    max-width: 35%;
}

/* Var_historie */
#box{
	margin: 0 auto;
}
#box img{
    width: 100%;
}
#box td{
  padding: 20px;
	text-align: left;
}
#box td:last-child{
	border-left: 3px solid;
}


/* RSVP-skjema */
form {
    width: 430px;
    margin: auto;
    padding: 30px;
    background-color: #e3cc9f;
    text-align: left;

    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}
label {
    float: left;
    width: 140px;
}
input[name="name"], input[name="phone"], input[name="email"], input[name="guests"] {
    width: 280px;
    height: 17px;
    margin: 2px;
    border-width: 1px;
    border-color: black;
}
textarea {
    width: 420px;
    height: auto;
    border-width: 1px;
    border-color: black;
}


/*Minh Ha's CSS*/
/*Index.html*/
#index img{
  width: 50%;
  align-self: center;
}

/*bryllupsfest.html og vielse.html*/
.beliggenhet{
  margin: auto;
  margin-top: 130px;
  width: 1000px;
}

.beliggenhet p{
  text-align: left;
  margin-left: 15px;
  margin-bottom: 15px;
  padding-left: 300px;
}

table{/*onskeliste, bryllupsfest og vielse*/
  border-collapse: collapse;
	margin-bottom: 10px;
}

#info td,#info tr{
  width: 250px;
  height: 55px;
  border: 3px solid;
  padding: 15px;
  margin-bottom: 15px;
  text-align: left;
  position: relative;
}

#info{
  float: left;
}

.svg{
  width: 50px;
  height: 50px;
  right: 10px;
  top: 20px;
  position: absolute;
}

#mapVielse,#mapFest {
  height: 400px;
  width: 100%;
  border: 2px solid #e3cc9f;
 }
/*Minh Ha's CSS end*/

/* Onskeliste */
#onskeliste > p{
    max-width: 60%;
    margin-left: 18%;
}
#onskeliste ul {
  list-style-type: none;
    margin-left: 15%;
}
#onskeliste li img {
    margin-right: 20px;
  float: left;
}
#onskeliste li p, h3 {
    margin-left: 40%;
    text-align: left;
}
#onskeliste li {
  padding: 20px;
  overflow: auto;
}
#onskeliste li:hover {
  background: #dabc80;
    color: white;
  cursor: pointer;
}



/* Cat's CSS*/

#countdown{
	font-weight: bold;
	color: #b07500;
}
/*Cat's css end*/

footer {
	/*background:#ffab62;*/
    color: #444444;
    margin: 3px;
	/*width:100%;
	height:100px;*/
	position:absolute;
	bottom:0;
	right:0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 736px){
    body{
        font-size: 22px;
    }
    h1 {
        font-size: 50px;
    }
    section{
        font-size: 24px;
    }
    #nav{
    min-width: 900px;
    }

    section {
    /* Adjust footer spacing */
	padding-bottom:50px;
    }

    /* Scaling index picture */
    #index img{
        width: 70%;
        align-self: center;
    }

    /* Scaling svg*/
    .svg{
        width: 40px;
        height: 40px;
    }

    /* Scaling rsvp form */
    form {
    width: 500px;
}
    label {
    width: 200px;
    }
    input[name="name"], input[name="phone"], input[name="email"], input[name="guests"] {
    width: 280px;
    }
    textarea {
    width: 490px;
    }

    /* Innhold på var_historie, vielse, bryllupsfest, onskeliste */
    #var_historie div, .beliggenhet, #onskeliste ul{
        max-width: 70%;
    }
    #kontakt_oss p, #toastmaster p, #meny div {
    margin-left: 25%;
    max-width: 50%;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape){
    section{
        font-size: 20px;
    }

}
