/*
FILE NAME: style.css
WRITTEN BY: M. Do, K. Duong, C. Tørklep og A. Vuong
WHEN: Oktober 2016
UPDATED BY: Minh Ha Do
WHEN: 10.11.16
PURPOSE: Styling*/
html, body {
	margin:0;
	padding:0;
	height:100%;
  min-width: 800px;
  background-color: #f2f3e4;
  font-family: georgia;
  font-size: 16px;
  text-align: center;
}

#wrapper {
	min-height:100%;
	position:relative;
  min-width: 800px;
}

#header {
    padding: 1px;
    min-width: 800px;
}

/* Overskrift */
h1 {
    font-family: 'Satisfy', cursive;
    font-size: 36px;
}

/* Farger for linker */
a:visited, a:link {
    color: black;
}
a:hover {
    color: #b07500;
    text-decoration: none;
}
.active {
    color: #b07500;
}

/* Navigasjonsbar. Hentet inspirasjon fra http://csswizardry.com/demos/centred-nav/dropdown.html */
/*Kim #nav*/
#nav{
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

#nav li{
  position:relative;
  display:inline-block;
}

#nav a{
  display:inline-block;
  padding:10px;
}

#nav ul{
  display:block;
  position:absolute;
  left:-9999px;
  margin:0;
  padding:0;
  text-align:left;
}
#nav ul li{
  display:block;
}

#nav li:hover ul{
  left:0;
}

#nav li:hover ul a{
  text-decoration:none;
  background:#F8F7EB;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#nav li:hover ul a:hover{
  text-decoration:none;
  color: white;
  background-color: #dabc80;
}
#nav ul a{
  display:block;
}

a{
  color:white;
  text-decoration:none;
}
/*Kim #nav end*/

section {
  margin-top: 130px;
	padding-bottom:30px; /* Height of the footer element */
  /* Nb: Make sure the value for 'padding-bottom' is equal to or greater than the height of #footer.*/
}

/* Innhold på kontakt_oss.html */
#kontakt_oss p, #toastmaster p, #meny div {
  margin-left: 35%;
  padding-left: 30px;
  text-align: left;
  border-left: solid #000000;
  max-width: 400px;
}

/* RSVP-skjema */
form {
  width: 430px;
  margin: auto;
  padding: 30px;
  background-color: #e3cc9f;
  text-align: left;

  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

label {
    float: left;
    width: 140px;
}

input[name="name"], input[name="phone"], input[name="email"], input[name="guests"] {
    width: 280px;
    height: 17px;
    margin: 2px;
    border-width: 1px;
    border-color: black;
}

textarea {
    width: 420px;
    height: auto;
    border-width: 1px;
    border-color: black;
}

/*Minh Ha's CSS*/
.beliggenhet{
  margin: auto;
  margin-top: 130px;
  width: 1000px;
}
.beliggenhet p{
  text-align: left;
  margin-left: 100px;
}
table{
  border-collapse: collapse;
  margin: 10px;
}

#info td,#info tr{
  width: 250px;
  height: 55px;
  border: 3px solid;
  padding: 15px;
  margin-bottom: 15px;
  text-align: left;
  position: relative;
  /*z-index: -1;*/
}

#info{
  margin: 1em 0em 1em 1em
  width: 50%;
  float: left;
}

.svg{
  width: 50px;
  height: 50px;
  right: 10px;
  top: 20px;
  position: absolute;
  /*z-index: -1;*/
}

#mapVielse,#mapFest {/*111. ndre plassering*/
  height: 400px;
  width: 100%;
 }
/*Minh Ha's CSS end*/

/* Cat's CSS*/
#onskeliste{
  margin: auto;
  margin-top: 130px;
  width: 1000px;
}

#onsketable{
  float: left;
  margin-top: 40px;
  margin-left: 90px;
}

#onsketable td, #onsketable tr{
  width: 250px;
  border: none;
  padding: 20px;
}

#onskeliste p{
  margin-bottom: 50px;
}

#onskebilder{
  float:right;
  margin-right: 90px;
}

#onskebilder td, #onskebilder tr{
  width: 250px;
  border: none;
  padding: 50px;
}

/* Cat's end CSS*/

footer {
	/*background:#ffab62;*/
  color: #444444;
  margin: 3px;
	/*width:100%;
	height:100px;*/
	position:absolute;
	bottom:0;
	right:0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 736px){
    body{
        font-size: 22px;
    }
    h1 {
        font-size: 50px;
    }
    section{
        font-size: 24px;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape){
    section{
        font-size: 20px;
    }

}
